In [1]:
import pandas as pd
import numpy as np
from src import cleaning

In [2]:
data = pd.read_csv('C:/Users/apaks/Desktop/Data Science/Python/Python Playground/Projects/Machine Learning Projects/Loan Data from Lending Club/data/loans_full_schema.csv')

In [3]:
data.head()

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0

In [4]:
data.shape

(10000, 55)

In [5]:
data.columns

Index(['emp_title', 'emp_length', 'state', 'homeownership', 'annual_income',
       'verified_income', 'debt_to_income', 'annual_income_joint',
       'verification_income_joint', 'debt_to_income_joint', 'delinq_2y',
       'months_since_last_delinq', 'earliest_credit_line',
       'inquiries_last_12m', 'total_credit_lines', 'open_credit_lines',
       'total_credit_limit', 'total_credit_utilized',
       'num_collections_last_12m', 'num_historical_failed_to_pay',
       'months_since_90d_late', 'current_accounts_delinq',
       'total_collection_amount_ever', 'current_installment_accounts',
       'accounts_opened_24m', 'months_since_last_credit_inquiry',
       'num_satisfactory_accounts', 'num_accounts_120d_past_due',
       'num_accounts_30d_past_due', 'num_active_debit_accounts',
       'total_debit_limit', 'num_total_cc_accounts', 'num_open_cc_accounts',
       'num_cc_carrying_balance', 'num_mort_accounts',
       'account_never_delinq_percent', 'tax_liens', 'public_record_bankrupt',
       'loan_purpose', 'application_type', 'loan_amount', 'term',
       'interest_rate', 'installment', 'grade', 'sub_grade', 'issue_month',
       'loan_status', 'initial_listing_status', 'disbursement_method',
       'balance', 'paid_total', 'paid_principal', 'paid_interest',
       'paid_late_fees'],
      dtype='object')

In [6]:
# copy of the original data
df = data.copy()

drop unnecessary columns

In [7]:
df = cleaning.drop_leakage_columns(df)

In [8]:
df.head()

,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,delinq_2y,months_since_last_delinq,earliest_credit_line,inquiries_last_12m,...,application_type,loan_amount,term,interest_rate,installment,grade,sub_grade,issue_month,initial_listing_status,disbursement_method
0,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,0,38.0,2001,6,...,individual,28000,60,14.07,652.53,C,C3,Mar-2018,whole,Cash
1,10.0,HI,RENT,40000.0,Not Verified,5.04,0,NaN,1996,1,...,individual,5000,36,12.61,167.54,C,C1,Feb-2018,whole,Cash
2,3.0,WI,RENT,40000.0,Source Verified,21.15,0,28.0,2006,4,...,individual,2000,36,17.09,71.40,D,D1,Feb-2018,fractional,Cash
3,1.0,PA,RENT,30000.0,Not Verified,10.16,0,NaN,2007,0,...,individual,21600,36,6.72,664.19,A,A3,Jan-2018,whole,Cash
4,10.0,CA,RENT,35000.0,Verified,57.96,0,NaN,2008,7,...,joint,23000,36,14.07,786.87,C,C3,Mar-2018,whole,Cash

Missing values in months_since_last_delinq and months_since_90d_late
- impute them with max + 1, 0 can be misinterpretted by the model.

In [9]:
df = cleaning.fill_with_max(df, 'months_since_last_delinq')
df = cleaning.fill_with_max(df, 'months_since_90d_late')

Missing values in emp_length, debt_to_income
- impute them with median

In [25]:
df['emp_length'] = df['emp_length'].fillna(df['emp_length'].median())
df['debt_to_income'] = df['debt_to_income'].fillna(df['debt_to_income'].median())

missing values in months_since_last_credit_inquiry and num_accounts_120d_past_due
- impute with max + 1

In [30]:
df = cleaning.fill_with_max(df, 'months_since_last_credit_inquiry')
df = cleaning.fill_with_max(df, 'num_accounts_120d_past_due')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 45 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   emp_length                        10000 non-null  float64
 1   state                             10000 non-null  object
 2   homeownership                     10000 non-null  object
 3   annual_income                     10000 non-null  float64
 4   verified_income                   10000 non-null  object
 5   debt_to_income                    10000 non-null  float64
 6   delinq_2y                         10000 non-null  int64
 7   months_since_last_delinq          10000 non-null  float64
 8   earliest_credit_line              10000 non-null  int64
 9   inquiries_last_12m                10000 non-null  int64
 10  total_credit_lines                10000 non-null  int64
 11  open_credit_lines                 10000 non-null  int64
 12  total_credit_limit                10000 non-null  int64
 13  total_credit_utilized             10000 non-null  int64
 14  num_collections_last_12m          10000 non-null  int64
 15  num_historical_failed_to_pay      10000 non-null  int64
 16  months_since_90d_late             10000 non-null  float64
 17  current_accounts_delinq           10000 non-null  int64
 18  total_collection_amount_ever      10000 non-null  int64
 19  current_installment_accounts      10000 non-null  int64
 20  accounts_opened_24m               10000 non-null  int64
 21  months_since_last_credit_inquiry  10000 non-null  float64
 22  num_satisfactory_accounts         10000 non-null  int64
 23  num_accounts_120d_past_due        10000 non-null  float64
 24  num_accounts_30d_past_due         10000 non-null  int64
 25  num_active_debit_accounts         10000 non-null  int64
 26  total_debit_limit                 10000 non-null  int64
 27  num_total_cc_accounts             10000 non-null  int64
 28  num_open_cc_accounts              10000 non-null  int64
 29  num_cc_carrying_balance           10000 non-null  int64
 30  num_mort_accounts                 10000 non-null  int64
 31  account_never_delinq_percent      10000 non-null  float64
 32  tax_liens                         10000 non-null  int64
 33  public_record_bankrupt            10000 non-null  int64
 34  loan_purpose                      10000 non-null  object
 35  application_type                  10000 non-null  object
 36  loan_amount                       10000 non-null  int64
 37  term                              10000 non-null  int64
 38  interest_rate                     10000 non-null  float64
 39  installment                       10000 non-null  float64
 40  grade                             10000 non-null  object
 41  sub_grade                         10000 non-null  object
 42  issue_month                       10000 non-null  object
 43  initial_listing_status            10000 non-null  object
 44  disbursement_method               10000 non-null  object
dtypes: float64(10), int64(25), object(10)
memory usage: 3.4+ MB